In [1]:
import pandas as pd

In [2]:
my_list = ['NVDA','MFST','FD','AMZN','BA']
my_list

['NVDA', 'MFST', 'FD', 'AMZN', 'BA']

In [3]:
type(my_list)

list

In [4]:
series = pd.Series(data = my_list)
series

0    NVDA
1    MFST
2      FD
3    AMZN
4      BA
dtype: object

In [5]:
type(series)

pandas.core.series.Series

In [6]:
series1 = pd.Series(data = [100, 200, 500, 1000, 5000])
series1

0     100
1     200
2     500
3    1000
4    5000
dtype: int64

In [7]:
my_series = pd.Series(data = ['Stranger Things','Prison Break','Family Man'])
my_series

0    Stranger Things
1       Prison Break
2         Family Man
dtype: object

In [8]:
type(my_series)

pandas.core.series.Series

series with custom index

In [9]:
my_list = ['NVDA','MFST','FB','AMZN','BA']
my_list

['NVDA', 'MFST', 'FB', 'AMZN', 'BA']

In [10]:
my_labels = ['stock#1','stock#2','stock#3','stock#4','stock#5']
my_labels

['stock#1', 'stock#2', 'stock#3', 'stock#4', 'stock#5']

In [11]:
series_1 = pd.Series(data = my_list, index = my_labels)
series_1

stock#1    NVDA
stock#2    MFST
stock#3      FB
stock#4    AMZN
stock#5      BA
dtype: object

In [12]:
my_list = ['Stranger Things','Prison Break','Family Man']
my_labels = ['S1','S2','S3']
series = pd.Series(data = my_list, index = my_labels)
series

S1    Stranger Things
S2       Prison Break
S3         Family Man
dtype: object

from dictionary

In [13]:
my_dict = {'Bank Client ID': 111,
          'Bank Client Name': 'Bob',
          'Net Worth[rs]': 800000,
          'Years with Bank': 10}
my_dict

{'Bank Client ID': 111,
 'Bank Client Name': 'Bob',
 'Net Worth[rs]': 800000,
 'Years with Bank': 10}

In [14]:
type(my_dict)

dict

In [15]:
series_2 = pd.Series(my_dict)
series_2

Bank Client ID         111
Bank Client Name       Bob
Net Worth[rs]       800000
Years with Bank         10
dtype: object

In [18]:
stocks = {'NVDA': 400,
          'AMZN': 600,
          'FB': 200}
stocks

{'NVDA': 400, 'AMZN': 600, 'FB': 200}

In [20]:
series_3 = pd.Series(stocks)
series_3

NVDA    400
AMZN    600
FB      200
dtype: int64

attributes

In [23]:
my_list = ['NVDA','MSFT','FB','AMZN','BA']
my_series = pd.Series( my_list)
my_series

0    NVDA
1    MSFT
2      FB
3    AMZN
4      BA
dtype: object

In [24]:
my_series.values

array(['NVDA', 'MSFT', 'FB', 'AMZN', 'BA'], dtype=object)

In [25]:
my_series.index

RangeIndex(start=0, stop=5, step=1)

In [26]:
my_series.is_unique

True

In [27]:
my_series.shape

(5,)

In [28]:
my_series.size

5

In [29]:
my_series = pd.Series(data = [100,200,500,1000,5000])
my_series

0     100
1     200
2     500
3    1000
4    5000
dtype: int64

In [30]:
my_series.sum()

np.int64(6800)

In [31]:
my_series.product()

np.int64(50000000000000)

In [32]:
my_series.mean()

np.float64(1360.0)

In [34]:
my_series.head(4)

0     100
1     200
2     500
3    1000
dtype: int64

In [35]:
new_series = my_series.head(3)
new_series

0    100
1    200
2    500
dtype: int64

In [38]:
my_series.tail(2)

3    1000
4    5000
dtype: int64

In [39]:
my_series.memory_usage()

172

In [71]:
sp = pd.read_csv('S_P500_Prices.csv') 
sp

            sp500
0     1295.500000
1     1289.089966
2     1293.670044
3     1308.040039
4     1314.500000
...           ...
2154  3327.770020
2155  3349.159912
2156  3351.280029
2157  3360.469971
2158  3333.689941

[2159 rows x 1 columns]

In [72]:
type(sp)

pandas.core.frame.DataFrame

In [73]:
my_series = pd.Series(data = [-10,100,-30,50,100])
my_series

0    -10
1    100
2    -30
3     50
4    100
dtype: int64

In [74]:
abs(my_series) #everthing +ve

0     10
1    100
2     30
3     50
4    100
dtype: int64

In [75]:
set(my_series) #deletes duplicates

{-30, -10, 50, 100}

sorting and ordering

In [76]:
sp = pd.read_csv('S_P500_Prices.csv')
sp = sp.iloc[:, 0] #1d df to series
sp

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [77]:
type(sp)

pandas.core.series.Series

In [88]:
sp.sort_values()

97      1278.040039
98      1278.180054
99      1285.500000
1       1289.089966
2       1293.670044
           ...
2038    3373.229980
2034    3373.939941
2033    3379.449951
2035    3380.159912
2037    3386.149902
Name: sp500, Length: 2159, dtype: float64

In [86]:
sp.sort_index(inplace = True)
sp

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [97]:
sp = pd.read_csv('S_P500_Prices.csv')
sp = sp.iloc[:, 0] 
sp

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [98]:
sp.sum()

np.float64(4790280.287214)

In [99]:
sp.count()

np.int64(2159)

In [100]:
sp.max()

3386.149902

In [101]:
sp.min()

1278.040039

In [102]:
sp.describe() #all statistical data

count    2159.000000
mean     2218.749554
std       537.321727
min      1278.040039
25%      1847.984985
50%      2106.629883
75%      2705.810059
max      3386.149902
Name: sp500, dtype: float64

In [103]:
sp.mean()

np.float64(2218.7495540592868)

In [104]:
sp.median()

2106.629883

In [105]:
sp.sum()/sp.count()

np.float64(2218.7495540592868)

In [106]:
sp = pd.read_csv('S_P500_Prices.csv')
sp = sp.iloc[:, 0] #1d df to series
sp

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [107]:
1295.5000 in sp.values

True

In [108]:
1295.5 in sp.index

False

In [109]:
1295.5 in sp #look for index and not values

False

In [110]:
3349 in sp

False

In [117]:
3349.15 in sp.values

False

In [118]:
sp = round(sp) #roundoffs the numbers 
sp

0       1296.0
1       1289.0
2       1294.0
3       1308.0
4       1314.0
         ...
2154    3328.0
2155    3349.0
2156    3351.0
2157    3360.0
2158    3334.0
Name: sp500, Length: 2159, dtype: float64

In [119]:
3349 in sp

False

In [120]:
3349 in sp.values

True

In [121]:
sp = pd.read_csv('S_P500_Prices.csv')
sp = sp.iloc[:, 0] #1d df to series
sp

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [122]:
sp[0]

np.float64(1295.5)

In [123]:
sp[899]

np.float64(2084.070068)

In [124]:
sp[2158]

np.float64(3333.689941)

In [125]:
sp[4] #fifth element

np.float64(1315.380005)

In [126]:
sp = pd.read_csv('S_P500_Prices.csv')
sp = sp.iloc[:,0]
sp

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2159, dtype: float64

In [127]:
sp[0:5]

0    1295.500000
1    1289.089966
2    1293.670044
3    1308.040039
4    1314.500000
Name: sp500, dtype: float64

In [130]:
sp[:10]

0    1295.500000
1    1289.089966
2    1293.670044
3    1308.040039
4    1314.500000
5    1315.380005
6    1316.000000
7    1314.650024
8    1326.060059
9    1318.430054
Name: sp500, dtype: float64

In [129]:
sp[5:]

5       1315.380005
6       1316.000000
7       1314.650024
8       1326.060059
9       1318.430054
           ...
2154    3327.770020
2155    3349.159912
2156    3351.280029
2157    3360.469971
2158    3333.689941
Name: sp500, Length: 2154, dtype: float64

In [133]:
sp[:-6]

0       1295.500000
1       1289.089966
2       1293.670044
3       1308.040039
4       1314.500000
           ...
2148    3218.439941
2149    3258.439941
2150    3246.219971
2151    3271.120117
2152    3294.610107
Name: sp500, Length: 2153, dtype: float64